$arrow-width: 10px; // An even number is best
$arrow-color: black;

/**
 * Accordion is closed by default
 */
.td-accordion {
  margin: 1em 0;

  .td-accordion__header {
    position: relative;
    padding: 0 4em 0 1em;

    border: 1px solid #DDD;
    background: #FAFAFA;
    cursor: pointer;

    p {
      margin: 1em 0;
    }

    &:after {
      position: absolute;
      top: 50%;
      right: 1em;
      margin-top: $arrow-width * -0.5;

      content: ' ';
      width: 0px;
      height: 0px;

      border: $arrow-width solid transparent;

      // Arrow pointing down
      border-top: $arrow-width solid $arrow-color;
      border-bottom: 0;
    }

  }

  .td-accordion__content {
    // Closed by default
    display: none;

    border: 1px solid #DDD;
    margin-top: -1px;
    padding: 0 1em;
  }
}

  /**
   * Style the open accordion
   */
  .td-accordion.td-accordion--open {
    .td-accordion__header {
      &:after {
        // Arrow pointing up
        border-top: 0;
        border-bottom: $arrow-width solid $arrow-color;
      }
    }

    .td-accordion__content {
      display: block;
    }
  }
